.footer-distributed{
	background-color: #000000;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 8.29vh 7.54vh;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 5.42vh 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 3vh 0 1.8vh;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 2.11vh;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 3.77vh;
	width: 5.73vh;
	height: 5.73vh;
	border-radius: 50%;
	text-align: center;
	line-height: 6.33vh;
	margin: 1.5vh 2.26vh;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 2.56vh;
	line-height: 5.73vh;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size: 2.11vh;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 3vh;
	color:  #92999f;
	font-size: 1.96vh;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 2.11vh;
	font-weight: bold;
	margin-bottom: 3vh;
}

.footer-distributed .footer-icons{
	margin-top: 4.34vh;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 6.07vh;
	height: 6.07vh;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 0.34vh;

	font-size: 3.47vh;
	color: #ffffff;
	text-align: center;
	line-height: 6.07vh;

	margin-right: 0.5vh;
	margin-bottom: 0.86vh;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 152vh) {

	.footer-distributed{
		font: bold 2.43vh sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 6.94vh;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
